<!-- <div *ngIf="error_r !='' ">Content to render when condition is true.</div> -->

<div class="col-12 alert alert-danger" *ngIf="errorPersonalizado">{{errorPersonalizado}}</div>

<div class="row justify-content-center">
    <div class="col-12 table-responsive">
        <h2>Alumnos</h2>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="actualizar" [checked]=automatico (click)="cambiarCheckActualizar()">
            <label class="form-check-label" for="actualizar">
              actualizar
            </label>

          
          

          </div>
          <button routerLink ="/alumno/form" class="btn btn-primary btn-sm mt-1">crear alumnos</button>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">id imagen aleatorio</th>
                    <th scope="col">nombre</th>
                    <th scope="col">apellido</th>
                    <th scope="col">Edad<i (click)="ordenarPorEdad()" class="fas fa-sort"></i></th>
                    <th scope="col">creadoEn</th>
                    <th scope="col">foto</th>
                    <th scope="col">foto2</th>
                   
                    <th scope="col">Acciones</th>

                </tr>
            </thead>
            <tbody>

                <tr *ngFor="let alumno of lista_alumnos; 
      index as i; first as isFirst">
                    <th scope="row">{{alumno.id}}</th>
                    <td>{{alumno.imagen_aleatoria}}</td>
                    <td>{{alumno.nombre}}</td>
                    <td>{{alumno.apellido}}</td>
                    <td><span *ngIf="alumno.edad == 23"><i class="fa fa-graduation-cap fa-1x"></i></span>{{alumno.edad}}
                    </td>
                    <td>{{alumno.creadoEn | date: 'shortDate'}}</td>
                    <td>{{alumno.fotoHashCode}}</td>
                    <td><img src="https://randomuser.me/api/portraits/thumb/men/{{alumno.id%100}}.jpg"></td>
                   
                    <td>


                        <button (click)="editarAlumno(alumno)" class=" btn-sm alert-success">
                            <fa-icon [icon]="iconoEditar"></fa-icon>
                            </button>

                        <button (click)="borrarAlumno(alumno)" class=" btn-sm alert-danger">
                        <fa-icon [icon]="iconoBasurita2"></fa-icon>
                        </button>

                    </td>
                </tr>

            </tbody>
        </table>
    </div>
</div>