<h1 class="text-center">PalaBrick</h1>
<hr>

<p class= "text-center" 
   *ngIf="(input_partida) && (input_partida.resultado != 0) ">
    Acertaste en la ronda {{input_partida.resultado}}</p>

    <p class= "text-center bg_amarillo_corporativo" 
   *ngIf="(input_partida) && (input_partida.resultado == 0) ">
   Fallaste</p>

    <p class= "text-center  col-4 offset-4" *ngIf="(input_partida) && (input_partida.resultado == 0)  ">
        Palabra: {{input_partida.resultado_palabra}}
        </p>




<h2 class="text-center">Estadísticas</h2>

<div class="row m-0">
    <div class="col-6 text-center">
        <h3 class="display-1 col-12">{{historico_partidas_totales}}</h3>
        <span class="display-7">Jugadas</span>
    </div>

    <div class="col-6 text-center">
        <h3 class="display-1 col-12">{{historico_porcentaje_aciertos}}%</h3>
        <span class="display-7">Victorias</span>
    </div>
</div>
<hr>
<h3 class="text-center">DISTRIBUCIÓN DE RESULTADOS</h3>


<div class="col-sm-12  col-lg-6   mx-auto ">
    <ul class="distribucion_resultados">
        <li *ngFor="let item of historico_array_seis_rondas_y_errores_porcentajes | slice:1 ; index as i">
            {{i+1}}:
            <span class="bloque_porcentaje" *ngFor="let item of [].constructor(item); let i = index"></span>
            <span class="">({{item*10}}%)({{historico_array_seis_rondas_y_errores_porcentajes[i]}})</span>
        </li>
        <li>X: <span class="bloque_porcentaje historico_error_estadisticas"
                *ngFor="let item of [].constructor(historico_array_seis_rondas_y_errores_porcentajes[0]); let i = index"></span>
            ({{historico_array_seis_rondas_y_errores_porcentajes[0]*10}}%)({{historico_array_seis_rondas_y_errores_porcentajes[0]}})</li>
    </ul>
</div>



<app-graficopalabrick [array_bruto_datos]="historico_array_datos_bruto" ></app-graficopalabrick>


<!-- 
<ul>
    <li> <strong>test_resultado: {{test_resultado}}</strong></li>
    <li *ngFor="let item of historico_array_datos_bruto">
        Fecha: {{ item.fecha_inicio }} Resultado: {{ item.resultado }}
    </li>
</ul>
-->


