<h1>Prueba palabro on the records</h1>

<ul>
    <li *ngFor="let item of historico_array_datos_bruto">
       Fecha: {{ item.fecha_inicio }}  Resultado: {{ item.resultado }}
      </li>


<li> <strong>test_resultado: {{test_resultado}}</strong></li>
</ul>

<h2>Estadísticas</h2>

<ul>
    <li *ngFor="let item of historico_array_datos_bruto; index as i">
       {{i}} 
       <span class="bloque_porcentaje" 
            *ngFor="let e of [].constructor(item); let i = index">{{i+1}}
        </span>
    </li>
</ul>