
.bloque_porcentaje {
/* background-color: #ccc; */
/* border-style: solid;
border-width: 1px; */
 margin:1px; 

padding-left: 0.5em;
background-color: #0d5f5a;

}

.distribucion_resultados li{
    list-style:none;
    margin-right: 10px;
}


.historico_error_estadisticas{
      background-color: #e04e2d;

}

.bg_rojo_corporativo {
    background-color: #e04e2d;
}

.bg_amarillo_corporativo {
    background-color: #f6a942;
}

.bg_verde_corporativo {
    background-color: #0d5f5a;
}

.bg_azul_corporativo {
    background-color: #00c2cb;
}

.bg_gris_oscuro_corporativo {
    background-color: #545454;
}

.bg_gris_claro_corporativo {
    background-color: #ccc;
}
