<main>
    <div>
        <h1>Juega y Gana!!!</h1>
    </div>
    <div id="botonera" class="botones">
        <div id="piedra" class="boton" (click)="selectPlay(0)">
            <img src="{{FOTO_PIEDRA}}"  alt="piedra">
        </div>
        <div id="papel" class="boton" (click)="selectPlay(1)">
            <img src="{{FOTO_PAPEL}}" width="25"  alt="papel">
        </div>
        <div id="tijera" class="boton" (click)="selectPlay(2)">
            <img src="{{FOTO_TIJERA}}" class="col-1" alt="tijera">
        </div>
    </div>
    <div class="contenedor">
        <button class="button-play" (click)="playNow()" [hidden]="!seleccionado">Jugar</button>
    </div>
    <div id="botonera-p" class="botones-p">
        <div class="boton-p">
            <img id="computerPlay">
        </div>
    </div>

   <!--  <div *ngIf="puntos_maquina || puntos_usuario" id="estadisticas"> -->


    <app-marcador3></app-marcador3>