
cambiar la funcion

<!-- <form #formulario_alumno="ngForm" (ngSubmit)="crearAlumno()"> -->
<form #formulario_alumno="ngForm" (ngSubmit)="en_edicion ? editarAlumno() : crearAlumno()">
    <div class="form-group">
      <label for="nombre">Nombre</label>
      <input type="text" name="nombre" [(ngModel)]="alumno.nombre"  #nombre="ngModel" class="form-control" id="nombre" placeholder="nombre del alumno" required pattern=".{3,15}" >
      <div class="alert alert-danger" [hidden]="nombre.valid || nombre.pristine || nombre.value == ''  ">   
        El apellido minimo debe ser entre 3 y 15 letras
    </div>
    </div>

    <div class="form-group">
        <label for="apellido">Apellidos</label>
        <input type="text"  name="apellido" [(ngModel)]="alumno.apellido"  #apellido="ngModel" class="form-control" id="apellido" placeholder="apellidos del alumno" required>
        <div class="alert alert-danger" [hidden]="apellido.valid || apellido.pristine">   
            apellido obligatorio
        </div>
    </div>

    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" name="email" [(ngModel)]="alumno.email"  #email="ngModel" class="form-control" id="email" aria-describedby="emailHelp" placeholder=" email" required email>
        <div class="alert alert-danger" [hidden]="email.valid || email.pristine">   
            email obligatorio
        </div>

      </div>

    <div class="form-group">
        <label for="edad">Edad</label>
        <input type="number" name="edad" [(ngModel)]="alumno.edad"  #edad="ngModel" class="form-control" id="edad" placeholder="edad del alumno" min="0" max="130">
        <div class="alert alert-danger" [hidden]="edad.valid || edad.pristine">   
            edad entre 0 y 130  
        </div>
      </div>

      <br>
      <div class="form-group">
      
       
        <button type="submit" [disabled] ="!formulario_alumno.valid" class="btn btn-primary">
          <span *ngIf="this.en_edicion == true ; else elseBlock">ACTUALIZAR1</span>
          <ng-template #elseBlock>CREAR1</ng-template>
        </button>
      </div>  
<br>

      <div *ngIf="en_edicion">
        <button type="submit" [class]="estiloBoton()">Actualizar2</button>
      </div>
      <div *ngIf="!en_edicion">
        <button type="submit" [class]="estiloBoton()">Crear2</button>
      </div>

<br>
      <button type="submit" class="btn btn-primary">
      {{(en_edicion?"Actualizar3":"Crear3")}}
      </button>
      
  </form>
